@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  color: rgb(var(--foreground-rgb));
  font-size: 1.25rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

a > img {
  display: inline;
}

input {
  background-color: #eee;
  border-bottom: 2px black solid;
  padding-left: 8px;
  margin: 4px;
}

.bounce {
  animation: bounce 1s infinite;
}

* > * {
  user-select: none;
}

/* Let's get this party started */
.timeline-frames::-webkit-scrollbar {
  width: 2px !important;
  height: 8px !important;
}

/* Track */
.timeline-frames::-webkit-scrollbar-track {
  background-color: rgba(100, 100, 100, 0.01);
  width: 2px;
}

/* Handle */
.timeline-frames::-webkit-scrollbar-thumb {
  background-color: rgba(25, 25, 25, 0.2);
  border-radius: 9999px;
  width: 2px;
}
